.page-box{
    display: flex;
    justify-content: center;
    &__central-box{
        margin: 5rem 0;
        flex-basis:60rem;
        height: 50rem;
        box-shadow: 0 0 .5rem 0 rgba(black, .5);
       

    }
    &__content{
        padding: 1.5rem;
    }
}