
@mixin roboto {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@mixin raleway {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}


@mixin bottomBar {
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Responsive

@mixin respons($device){
   @if($device == tab-port){
       @media(max-width: 50em){      //800px
           @content
       }            
   }
}