.card{
 
    &__add-box{
        @include bottomBar();
        padding-left: 20px;
        padding-right: 20px;
       .btn{
        @include respons(tab-port){
            font-size: .8rem;
        }
    
       }
    }

    &__image{
      object-fit: contain;
      object-position: center;
    }

    &__price{
        font-size: 1.6rem;
    }


}

//vendor

.card{
   &-body{
       padding-bottom: 3rem  !important;
       position: relative;
   }
}