.cart-mini{
    width: 20rem;
    border-radius: 3px;
    overflow: hidden;
    z-index: 200;
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__icon{
      height: 5rem;
      width: 25%;
    }
    &__overall{
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 75%;
       padding: 0 1rem;
    }
    &__sum{
        font-size: 2rem;
    }
    &__amount{
        font-size: 1.6rem;
    }
    &__bottom{

    }
    &__checkout{

        display: flex;
        justify-content: space-between;
    }
}