.cart-mini{
    z-index: 200;
    width: 20rem;
    position: fixed;
    top: 6rem;
    right:0;
    transition: all .3s;
    border-radius: 3px;
    box-shadow: 0 0 .3rem rgba(black, .5);
    @include respons(tab-port){
        top: 16rem;
    }

    &__switch-off{
        box-shadow: 0 0 .3rem rgba(black, .5);
        transition: all .3s;
        border: none;
        background-color: #f8f9fa;
        &:hover{
            box-shadow: 0 0 .3rem rgba(#007bff, .5);
        }
        &:active{
            box-shadow: 0 0 .1rem rgba(black, .5);
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__icon{
      height: 5rem;
      width: 25%;
    }
    &__overall{
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 75%;
       padding: 0 .5rem;
    }
    &__sum{
        font-size: 2rem;
    }
    &__amount{
        font-size: 1.6rem;
    }
    &__bottom{

    }
    &__checkout{

        display: flex;
        justify-content: space-between;
    }
}