.item-place{
    
    &__items{
        width: 100%;
        min-height: 40rem;
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        grid-auto-rows: minmax(20rem, auto);
        gap:1.5rem;
        box-shadow: 0 0 .5rem 0px rgba(black, .5);
        position: relative;
        padding-bottom: 6rem;
        @include respons(tab-port){
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        }
    }

   &__more-btn{
       position: absolute;
       bottom: 2rem;
       left: 50%;
       transform: translateX(-50%);
   }
}