.main-page{
    min-height: 100vh;
    position: relative;
    &__bottom{
        padding:40px 0;
        position: relative;
        z-index: 20;
        margin-top: -15rem;
        @include respons(tab-port){
            margin-top: 0;
            padding:2rem 0;
        }
        background-image: linear-gradient(to top, white 85%, transparent 100%);
        
    }

}


//vendor

