.main-page{
    min-height: 100vh;
    position: relative;
    &__top{
    }
    &__bottom{
        padding:40px 0;
        position: relative;
        z-index: 20;
        margin-top: -15rem;
        // background-color: rgb(12, 12, 24);
        background-image: linear-gradient(to top, white 85%, transparent 100%);
        .item-place{
            
        }
    }

}


//vendor


.main-page .carousel{      
    &-item{
        height: 35rem;    
    }
    &-indicators{
        bottom: auto I !important;
        top:2rem !important; 
    }
}