.footer{
    position: relative;
    width: 100%;
    height: 9rem;
    overflow: hidden;
    @include respons(tab-port){
        height: 6rem;
    }
   &__place{
       position: absolute;
       width: 100%;
       height: 100%;
   } 
   &__medias{
       display: flex;
       max-width: 10rem;
       margin: 0 auto;
       justify-content: space-between;
       height: 10%;
   }
   &__bottom{
    height: 90%;
    position: relative;
   }

    &__copyright{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
    }
}