@import "~bootstrap/scss/bootstrap";
// @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// @import "./Components/abstracts/variables";
// @import "./Components/abstracts/functions";
@import "./Components/abstracts/mixins";

@import "./Components/base/base";
// @import "./Components/base/typography";
@import "./Components/base/utilities";

@import "./Components/SectionMainPage/main-page";
@import "./Components/ItemPlace/item-place";
@import "./Components/ItemsFilter/items-filter";
@import "./Components/Footer/footer";
@import "./Components/Card/card";
@import "./Components/Registration/ModalRegistration/modal";
@import "./Components/Registration/registration";
@import "./Components/CartMini/cart-mini";
@import "./Components/ItemDetails/item-details";
@import "./Components/Comments/comments";
@import "./Components/PageBox/page-box";
@import "./Components/SectionMainCart/section-main-cart";
@import "./Components/SectionPayment/section-payment";
@import "./Components/LoadingIcon/loading-icon";
@import "./Components/Loading/loading";
@import "./Components/Error/error-message";
@import "./Components/ErrorBoundary/error-boundary";
@import "./Components/Registration/vendor-changes";
@import "./Components/Layout/ButtonsBottom/buttons-bottom";
@import "./Components/Header/header";
@import "./Components/Finish/finish-page";
@import "./Components/My404Component/my404component";
@import "./Components/SectionContacts/contacts";
@import "./Components/SectionAboutUs/about-us";
@import "./Components/Carousel/carousel";