.finish-page{
    width: 100%;
    height: 40rem;
    background-image: url(
    "https://lh3.googleusercontent.com/proxy/_3YlcrO79_WGYkf_bxDSVw6sKN7PMz3e8C4aR5owH3vx4qFF3LmomcRPO9Iife1m2T22r0fqTzu5Qs-xleyrQxmwu2jwxX20kxpC_1fEVbv8C0xmtfoYHZSjWYI"
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}